@model IEnumerable<StudentSystemWeb.Models.IssizlikOrani>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toplam2019)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toplam2020)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erkek2019)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erkek2020)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kadın2019)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kadın2020)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamOran2019)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamOran2020)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErkekOran2019)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErkekOran2020)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KadınOran2019)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KadınOran2020)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Toplam2019)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toplam2020)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erkek2019)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erkek2020)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadın2019)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadın2020)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamOran2019)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamOran2020)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErkekOran2019)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErkekOran2020)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KadınOran2019)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KadınOran2020)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
