@model IEnumerable<TuikProject.Models.IssizlikOraniT2>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column18)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column11)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column12)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column13)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column14)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column15)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column16)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column17)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column18)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
